<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>React Seed</title>
    <link href="App.css" rel="stylesheet" />
    <style>
        .column {
            width: 10px;
            height: 10px;
            position: relative;
        }

        .Empty {
            background-color: white;
            /* background-image: url("src/assets/floor.png"); */
        }

        .Wall {
            background-color: black;
            /* background-image: url("src/assets/wall.png"); */
        }

        .player {
            width: 5px;
            height: 5px;
        }

        table{
            border-spacing:0;
        }
    </style>
</head>

<body>
    <div id="content"></div>

</body>

</html>