<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>React Seed</title>
    <link href="App.css" rel="stylesheet" />
    <style>
        td {
            width: 200px;
            height: 200px;
        }

        td.Empty {
            background-color: lightblue;
        }

        td.Wall {
            background-color: black;
        }

        .player {
            width: 20px;
            height: 20px;
            background-color: red;
        }
    </style>
</head>

<body>
    <div id="content"></div>

</body>

</html>